.admin{
    height: 1000px;
    background-color: darkgray;
    color: whitesmoke;
    display: flex;
    
}

.admin h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;

}

.admin .sec-products{
    flex: 2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}

.admin .sec-discounts{
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 0 15px;
}