
.navbar {
  background-color: rgb(236, 218, 193);
}

.product{
    vertical-align:baseline;
    background-color: skyblue;
    display: inline-block;
    width: 1000px;
    height:1000px;
    border: 1px solid #49674f;
    margin: 18px;
    border-radius: 6px;
    text-align: center;
}

.product img{
  padding-top: 25px;
  height: 750px;

}
.cart-btn{
  color:  darkgreen;
  background-color: aqua;
 
}
 
.price{
  font-weight: bolder;

}


.total{
  font-weight: bold;

}